
<div class="card m-5">
      <div class="card-header">
            <h3 class="text-dark">Edit Post</h3>
      </div>
      <div class="text card-body">
            <form>
                  <div class="form-group">
                        <h4>Title</h4>
                        <input type="text" name="post-title" id="" class="form-control" value="{{post.title}}" />
                        <br />
                        <h4>Content</h4>
                        <input type="text" name="post-content" id="" class="form-control" value="{{post.content}}" />
                        <br />
                        <button type="submit" class="btn btn-primary">Save</button>
                        <br />
                        <button type="button" class="btn btn-danger">Delete Post</button>
                  </div>
            </form>
            
            
      </div>
</div>
