
{{#each posts as |post|}}
<div class="card m-5">
      <div class="card-header">
            <a href="/post/{{post.id}}">
                  <h3 class="text-dark">{{post.title}}</h3>
            </a>
            <h5 class="text-dark">Posted by {{user.username}}</h5>
      </div>
      <div class="text">
            <p>
                  {{post.content}}
            </p>
      </div>
</div>
{{/each}}
